<div class='container'>
  <h5 id='event' data-id="<%= @event.id %>"><%= @event.name %></h5>
</div>

<div class='container'>
  <ul id="allocations">
    <% for allocation in @allocations %>
      <li>
        <span class="dnd-node" data-id="<%= allocation.id %>"><%= allocation.person_id %><-><%= allocation.task_id %></span>
      </li>
    <% end %>
  </ul>
</div>

<div class='container'>
  <ul id="people">
    <% for person in @people %>
      <li>
        <span class="dnd-node" data-id="<%= person.id %>"><%= person.name.capitalize %> (<%= person.email %>, <%= person.mobile %>)</span>
      </li>
    <% end %>
  </ul>
</div>

<div class='container'>
  <ul id="tasks">
    <% for task in @tasks %>
      <li>
        <span class="dnd-node" draggable='true' data-id="<%= task.id %>"><%= task.name[0..50] %></span>
      </li>
    <% end %>
  </ul>
</div>