<div class='container'>
  <div id="allocations">
    <% for allocation in @allocations %>
      <div class="column" draggable="true">
        <header>Allocation p<->t</header>
        <%= allocation.person_id %><-><%= allocation.task_id %> 
      </div>
    <% end %>
  </div>
</div>

<div class='container'>
  <div id="people">
    <% for person in @people %>
      <div class="column" draggable="true" data-id="<%= person.id %>">
        <header>Person id:name</header>
        <%= person.id %>:<%= person.name %>
      </div>
    <% end %>
  </div>
</div>

<div class='container'>
  <div id="tasks">
    <% for task in @tasks %>
      <div class="column" draggable="true" data-id="<%= task.id %>">
        <header>Task id:name</header>
        <%= task.id %>:<%= task.name[0..80] %>
      </div>
    <% end %>
  </div>
</div>