<div class='container'>
  <div id='plan-name'>
    <h3><%= @plan.name %></h3>
    <span>
      <%= button_to 'PDF',
        plan_download_url(:private_guid => @plan.private_guid, :format => :pdf),
        class: "btn btn-success", method: :get %>
    </span>
  </div>
</div>

<div class='container'>
  <div class="navbar">
    <div class="navbar-inner">
      <ul id="events" class="nav">
        <% for e in @events %>
          <li class="<%= 'active' if e == @event %>" data-id="<%= e.id %>">
            <%= link_to e.name, plan_allocations_url(:private_guid => @plan.private_guid, :id => e.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class='container'>
  <ul id="people">
    <% for person in @people %>
      <li data-id="<%= person.id %>">
        <span class="dnd-node person"><%= person.name.capitalize %></span>
        <ul class='allocations'>
          <% for a in  person.allocations.where(task_id: @custom_tasks) %>
            <li class='allocation' >
              <span class='allocation' data-id="<%= a.id %>"><%= a.task.name[0...40] %></span>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<div class='container'>
  <ul id="tasks">
    <% for task in @public_tasks %>
      <li>
        <span class="dnd-node" draggable='true' data-id="<%= task.id %>"><%= task.name[0...40] %></span>
      </li>
    <% end %>
  </ul>
</div>