<div class="jumbotron top">
  <div class="container">
    <h3><%= @plan.name %></h3>
    <h4>Postcode: <%= @plan.postcode %></h4>
  </div>
</div>

<div class="jumbotron second">
  <div class="container">
    <%= button_to 'PDF',
      plan_download_url(:private_guid => @plan.private_guid, :format => :pdf),
      class: "btn btn-success", method: :get %>
    <nav class="navbar" role="navigation">
      <div class="navbar-inner">
        <ul id="events" class="nav">
          <% for e in @events %>
            <li class="<%= 'active' if e == @event %>" data-id="<%= e.id %>">
              <%= link_to e.name, plan_allocations_url(:private_guid => @plan.private_guid, :id => e.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</div>

<!-- using only one person for now -->
<span class='hidden person' data-id="<%= @people.first.id %>"></span>

<div class="container">
  <div class='row'>
    <div class='col-lg-6 lists'>
      <h5><%= @people.first.display_name %> LIST</h5>
      <ul id='allocations'>
        <% for a in @people.first.allocations.where(task_id: @custom_tasks) %>
          <li class='allocation' data-id="<%= a.id %>"><%= a.task.name %></li>
        <% end %>
      </ul>
    </div>
    <div class='col-lg-6 lists'>
      <h5>SUGGESTED LIST</h5>
      <ul id="tasks">
        <% for task in @public_tasks %>
          <li class="dnd-node suggested" draggable='true' data-id="<%= task.id %>"><%= task.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>