  <%= form_tag signups_path, method: :post do %>
  <div class="row">
    <div class="span12">
      <h2>Plan and Family information</h2>
      <p>Let's start with a few details including the names and contact details of everyone</p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <fieldset>
        <%= text_field_tag "p_plan_name", nil, :placeholder=>"Plan Name" %>
        <%= text_field_tag "p_postcode", nil, :placeholder=>"Household Postcode"%>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h4>Family members</h4>
    </div>
  </div>

  <% @persons.each_with_index do |p, i| %>
  <div class="row">
    <div class="span12">
      <fieldset>
        <%= text_field_tag "p_name_#{i}", p.name, placeholder: "Name or Nick name" %>
        <%= email_field_tag "p_email_#{i}", p.email, placeholder: "Email" %>
        <%= text_field_tag "p_mobile_#{i}", p.mobile, placeholder: "Mobile" %>
      </fieldset>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="span10">
      <button class="btn btn-secondary" type="submit">+</button>
    </div>
    <div class="span2">
      <p><%= submit_tag "Next >>", class: "btn btn-primary" %></p>
    </div>
  </div>
<% end %>
