<div class="span12">
  <h2>Start by naming your team</h2>
  <p>You will need your team member emails and mobile numbers to successfully complete your plan of attack!</p><br><br>

  <form>
    <fieldset>
      <p class="subHeadings"><strong>Team</strong></p>
      <input type="text" placeholder="Name"> <input type="text" placeholder="Postcode">

    </fieldset>
  </form>
  <br>
  <br>
  <p class="subHeadings">Members</p>
</div>

<% (1..4).each do |i| %>
  <div class="span3">
    <%= simple_form_for (instance_variable_get "@person#{i}") do |f| %>
      <p><strong> <%= i %></strong></p>
      <fieldset>
        <%= f.input :name,   placeholder: 'Name or Nick name' %>
        <%= f.input :email,  placeholder: 'Email' %>
        <%= f.input :mobile, placeholder: 'Mobile' %>
        <br>
      </fieldset>
    <% end %>
  </div>
<% end %>
