<section class='headline'>
  <div class='row'>
    <div class='small-12 columns'>
      <h1>Let's get started!</h1>
    </div>
  </div>
</section>

<section class='secondary'>
  <div class='row'>
    <div class='small-12 columns'>
      <h3>All we need is a plan name and your postcode (so we can help find plan templates that you may find useful)</h3>
     </div>
  </div>
</section>

<section class='main-page'>
    <%= form_for @signup do |f| %>

    <% if @signup.errors.any? %>
      <div class='row'>
        <div class="small-12 columns">
          <div data-alert class='alert-box'>
            <%= "Errors: '" + @signup.errors.full_messages.join("' and '") + "'" %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>

    <div class='row'>
      <div class="small-12 columns">
      <fieldset>
        <%= f.text_field :plan_name, placeholder: "Plan Name", class: 'large-element' %>
        <%= f.text_field :postcode, placeholder: "Household Postcode", class: 'large-element' %>
      </fieldset>
      </div>
    </div>

<!--       <div>
        <h2>Optional details</h2>
      </div>

      <div>
        <fieldset>
          <%= f.text_field :name, placeholder: "Name or Nickname", class: 'large-element' %>
          <%= f.email_field :email, placeholder: "Email", class: 'large-element' %>
          <%= f.text_field :mobile, placeholder: "Mobile", class: 'large-element' %>
        </fieldset>
      </div>
 -->

    <div class='row'>
      <div class="small-12 large-4 columns">
        <fieldset>
            <%= check_box_tag "signup[opt_out]" %> Keep your plan private?
        </fieldset>
      </div>
    </div>

    <div class='row'>
      <div class="small-12 large-4 columns">
        <fieldset>
            <%= check_box_tag "signup[alone]" %> Do you live alone?
        </fieldset>
      </div>
    </div>

    <div class='row'>
      <div class="small-12 large-4 columns">
        <fieldset>
            <%= check_box_tag "signup[pets]" %> Do you have pets?
        </fieldset>
      </div>
    </div>

    <div class='row'>
      <div class="small-12 large-4 columns">
        <img title="Fire Danger Rating wheel" alt="Fire Danger Rating wheel" src="http://www.cfa.vic.gov.au/fm_files/img/warnings-restrictions/fdr-chart.gif" height="169" width="280">
      </div>
    </div>
    <div class='row'>
      <div class="large-4 columns">
        <fieldset>
          <label for="signup_rating_code_red"><%= radio_button_tag "signup[rating]", "code_red" %><span class="custom radio"></span>Code Red</label>
          <label for="signup_rating_extreme"><%= radio_button_tag "signup[rating]", "extreme" %><span class="custom radio"></span>Extreme</label>
          <label for="signup_rating_severe"><%= radio_button_tag "signup[rating]", "severe" %><span class="custom radio"></span>Severe</label>
          <label for="signup_rating_very_high"><%= radio_button_tag "signup[rating]", "very_high" %><span class="custom radio"></span>Very High</label>
        </fieldset>
      </div>
      <!-- <div class="small-12 large-4 columns">
        <img title="Fire Danger Rating wheel" alt="Fire Danger Rating wheel" src="http://www.cfa.vic.gov.au/fm_files/img/warnings-restrictions/fdr-chart.gif" height="169" width="280">
      </div> -->
    </div>
</section>

<section>
  <div class='row'>
    <div class='small-12 columns'>
      <%= f.submit "Next >>", class: 'button' %>
    <% end %>
    </div>
  </div>
</section>
