<div class="container">
  <%= form_tag signups_path, method: :post do %>
    <div class="row">
      <div class="span12">
        <h2>Let's get started!</h2>
        <p>All we need is a plan name and your postcode (so we can help find plan templates that you may find useful)</p>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <fieldset>
          <%= text_field_tag "plan_name", nil, :placeholder=>"Plan Name" %>
          <%= text_field_tag "postcode", nil, :placeholder=>"Household Postcode"%>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <h4>Optional details</h4>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <fieldset>
          <%= text_field_tag "name", nil, placeholder: "Name or Nickname" %>
          <%= email_field_tag "email", nil, placeholder: "Email" %>
          <%= text_field_tag "mobile", nil, placeholder: "Mobile" %>
        </fieldset>
      </div>
    </div>

    <div class='row'>
      <div class="span12">
        <fieldset>
            <%= check_box_tag :opt_out, 'yes', true %> Keep your plan private?
        </fieldset>
      </div>
    </div>

    <div class='row'>
      <div class="span12">
        <fieldset>
            <%= check_box_tag :alone %> Do you live alone?
        </fieldset>
      </div>
    </div>
    <div class='row'>
      <div class="span12">
        <fieldset>
            <%= check_box_tag :pets %> Do you have pets?
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="span10"></div>
      <div class="span2">
        <p><%= submit_tag "Next >>", class: "btn btn-primary" %></p>
      </div>
    </div>
  <% end %>
</div>