<section class='headline'>
    <div class='row'>
      <div class='small-12 columns'>
        <h1>Get a plan</h1>
       </div>
    </div>
  </section>
<section class='main-page'>

  <div class='introduction'>
    <div class='row'>
      <div class='small-12 large-7 large-centered columns'>
        <h3>LET'S GET STARTED!</h3>
      </div>
    </div>

    <div class='row'>
      <div class='small-12 large-7 large-centered columns'>
        <p>All we need is a plan name and your postcode. <br/>
        Just so we can help find plan templates that you may find useful.</p>
       </div>
    </div>
  </div>

    <%= form_for @signup do |f| %>

    <% if @signup.errors.any? %>
      <div class='row'>
        <div class="small-12 large-7 large-centered columns">
          <div data-alert class='alert-box'>
            <%= "Errors: '" + @signup.errors.full_messages.join("' and '") + "'" %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>

    <div class='row'>
      <div class="small-12 large-7 large-centered columns">
      <fieldset>
        <%= f.text_field :plan_name, placeholder: "Plan Name", class: 'large-element' %>
        <%= f.text_field :postcode, placeholder: "Household Postcode", class: 'large-element' %>
      </fieldset>
      </div>
    </div>

    <div class='introduction'>
      <div class='row'>
        <div class='small-12 large-7 large-centered columns'>
          <h3>HELP US TAILOR YOUR PLAN</h3>
        </div>
      </div>
    </div>

    <div class='row' id='questions'>
      <div class="small-12 large-7 large-centered columns">
        <div class="small-6 columns">
          <p>Do you live alone?</p>
          <label for="signup_alone"><%= check_box_tag "signup[alone]" %> Yes</label>

          <div id='content'>
            <%= image_tag 'signups/live-alone.svg' %>
          </div>

        </div>
        <div class="small-6 columns">
          <p>Do you have pets?</p>
          <label for="signup_pets"><%= check_box_tag "signup[pets]" %> Yes</label>
        </div>
      </div>      
    </div>

<!--     <div class='row'>
      <div class="small-12 large-7 large-centered columns">
        <img title="Fire Danger Rating wheel" alt="Fire Danger Rating wheel" src="http://www.cfa.vic.gov.au/fm_files/img/warnings-restrictions/fdr-chart.gif">
      </div>
    </div>
    <div class='row'>
      <div class="small-12 large-7 large-centered columns">
        <fieldset class='fire-danger'>
          <label for="signup_rating_code_red"><%= radio_button_tag "signup[rating]", "code_red" %><span class="custom radio"></span> Code Red</label>
          <label for="signup_rating_extreme"><%= radio_button_tag "signup[rating]", "extreme" %><span class="custom radio"></span> Extreme</label>
          <label for="signup_rating_severe"><%= radio_button_tag "signup[rating]", "severe" %><span class="custom radio"></span> Severe</label>
          <label for="signup_rating_very_high"><%= radio_button_tag "signup[rating]", "very_high" %><span class="custom radio"></span> Very High</label>
        </fieldset>
      </div>
    </div>
 --></section>

<section>
  <div class='row'>
    <div class='small-12 large-7 large-centered columns'>
      <%= f.submit "Next >>", class: 'button' %>
    <% end %>
    </div>
  </div>
</section>
