<section class='headline'>
  <div class='row'>
    <div class='twelve columns'>
      <h1>Let's get started!</h1>
    </div>
  </div>
</section>

<section class='secondary'>
  <div class='row'>
    <div class='twelve columns'>
      <h3>All we need is a plan name and your postcode (so we can help find plan templates that you may find useful)</h3>
     </div>
  </div>
</section>


<section class='main-page'>
  <div class='row'>
    <%= form_tag signups_path, method: :post, class: "large-12 columns" do %>

      <% if @signup.errors.any? %>
        <div data-alert class='alert-box'>
          <%= "Errors: '" + @signup.errors.full_messages.join("' and '") + "'" %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>

      <fieldset>
        <%= text_field_tag "plan_name", nil, placeholder: "Plan Name", class: 'large-element' %>
        <%= text_field_tag "postcode", nil, placeholder: "Household Postcode", class: 'large-element' %>
      </fieldset>

      <div>
        <h2>Optional details</h2>
      </div>

      <div>
        <fieldset>
          <%= text_field_tag "name", nil, placeholder: "Name or Nickname", class: 'large-element' %>
          <%= email_field_tag "email", nil, placeholder: "Email", class: 'large-element' %>
          <%= text_field_tag "mobile", nil, placeholder: "Mobile", class: 'large-element' %>
        </fieldset>
      </div>

      <div>
        <fieldset>
            <%= check_box_tag :opt_out, 'yes', true %> Keep your plan private?
        </fieldset>
      </div>

      <div>
        <fieldset>
            <%= check_box_tag :alone %> Do you live alone?
        </fieldset>
      </div>

      <div>
        <fieldset>
            <%= check_box_tag :pets %> Do you have pets?
        </fieldset>
      </div>


  </div>
</section>

<section>
  <div class='row'>
    <div class='large-12 columns'>
      <%= submit_tag "Next >>", class: 'button' %>
    <% end %>
    </div>
  </div>
</section>
