
<div class='container'>


  <%= render 'visualisation' %>


  <div class='count'>
  People: <%= @people_count %>
  </div>
  <div class='count'>
  Tasks: <%= @task_count %>
  </div>
  <div class='count'>
  Allocations: <%= @allocation_count %>
  </div>

  <div class='count'>
  All Plans: <%= @private_plan_count + @public_plans.count %>
  </div>

  <div class='count'>
  Private Plans: <%= @private_plan_count %>
  </div>

  <div class='count'>
  Public Plans: <%= @public_plans.count %>
  </div>

  <p>

  <div>
    Create a new blank plan

    <%= form_for @blank_plan do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>

    <%= f.check_box :opt_out %> Tick to keep plan private (you can change that later if you like)

    <p>(Plans will be generated for postcode 3113)</p>
    <!--<p>
      <%= f.label :postcode %><br />
      <%= f.text_field :postcode %>
    </p> -->
    <p><%= f.submit %></p>
    <% end %>
  </div>

</end>