<section class='headline'>
  <div class='row'>
    <div class='small-12 columns'>
      <h1 class='docs header'>
        Check out what people are up to below or get a plan
      </h1>
    </div>
  </div>
</section>

<section class='main-page'>

  <div class='row'>
    <div class='small-12 columns'>
      <div id="chart"></div>

      <%= javascript_include_tag "application.js" %>
      <%= javascript_include_tag "d3-v3-min.js" %>
      <%= javascript_include_tag "home/visualisation.js" %>

      <!-- <%= render 'collapsible_tree_visualisation' %> -->
      <!-- <%= render 'tree_visualisation' %> -->

      <!--  <%= link_to_function 'Force Directed', 'force_directed()' %> -->
      <!-- <span class='link-spacer'/>|</span> -->
      <!-- <%= link_to_function 'Force Directed', 'force_directed()' %> -->
      <!-- <span class='link-spacer'/>|</span> -->
      <!-- <%= link_to_function 'Collapsible Tree', 'collapsible_tree()' %> -->
      <!-- <span class='link-spacer'/>|</span> -->
      <!-- <%= link_to_function '(Static Tree)', 'static_tree()' %> -->
    
    </div>
  </div>
</section>

<section>
  <div class='row'>
    <div class='small-12 columns'>
      <%= button_to 'GET A PLAN', new_signup_url, class: 'button', method: :get %>
    </div>
  </div>
</section>
