<div class='container'>

  <div class="row">
    <div class="span12">
      <%= render 'visualisation' %>
    </div>
  </div>

  <div class="row">
    <div class="span9"></div>
    <p class="span3">
      Check out what people are up to above or get a plan in <%= link_to '3 fast steps', new_signup_url %>
    </p>
  </div>

  <div class="row">
    <div class='span12'>
    People: <%= @people_count %>
    </div>
    <div class='span12'>
    Tasks: <%= @task_count %>
    </div>
    <div class='span12'>
    Allocations: <%= @allocation_count %>
    </div>
  </div>

</end>