<p>
  <strong>Sent email(s) for event '<%= @event.name %>' (with id = <%= @event.id %>)</strong>
</p>

<p>
  <strong>Tasks that subscribe to this event '<%= @task.name %>'</strong>
</p>

<p>
  <strong>People that were notified '<%= @person.name %>' on '<%= @person.email %>'</strong>
</p>


===============================================
<p>
  <%= @msg %>
</p>