<p>
  <strong>Sent email(s) for event '<%= @event.name %>' (with id = <%= @event.id %>)</strong>
</p>

<p>
  <strong>People that were notified "<%= @people.collect(&:name).join(', ') %>" on "<%= @people.collect(&:email).join ', ' %>"</strong>
</p>

===============================================
<p>
  <%= @msg %>
</p>