New Plan

<%= form_for @plan do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </p>
  <p><%= f.submit %></p>
<% end %>


<p>
  <%= link_to "View All", plans_path %>
</p>