
<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>
<p>
  <strong>Postcode:</strong>
  <%= @plan.postcode %>
</p>

<ul>
<% @plan.tasks.each do |task| %>

  <li><%= task.name %></li>

<% end %> 
</ul>

<p>
  <%= link_to "Edit", edit_plan_path(@plan) %> |
  <%= link_to "View All", plans_path %>
</p>
