<div class="container">
  <div class="row">
    <div class="span12">
      <p>
        <strong>Name:</strong>
        <%= @plan.name %>
      </p>
      <p>
        <strong>Postcode:</strong>
        <%= @plan.postcode %>
      </p>

        <% @plan.events.each do |event| %>
          
          <h3><%= event.name %></h3>
          
          <table class="table table-striped">
            <% @plan.tasks_for(event).each do |task| %>
              <tr>
                <td><%= @plan.people_for(task) %></td>
                <td><%= task.name %></td>
              </tr>      
            <% end %>
          </table>
        <% end %>

    </div>
  </div>
</div>
