<section class='headline plan-details'>
  <div class='row'>
    <div class='small-8 columns'>
      <div class="plan-name">
        <h4>PLAN NAME</h4>
        <h1><%= @plan.name %></h1>
      </div>

      <div class="postcode">
        <h3><i class="fi-marker"></i> Postcode <%= @plan.postcode %></h3>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='small-8 columns description'>
      <p>This is a fire survival plan.</p>
      <p>Click "Use this plan" to customise it to suit your situation.</p>
    </div>
    <div class='small-4 columns use-plan'/>
      <%= button_to 'USE THIS PLAN', plan_duplicate_url(:public_guid => @plan.public_guid), method: :post, class: 'button' %>
    </div>
  </div>
</section>

<section class='main-page'>
  <div class='row'>
    <div class='small-12 columns'>
      <% @plan.events.each do |event| %>
        <div class="event-name">
          <h2><%= event.name %></h2>
        </div>

        <table class="tasks">
          <tbody>
            <% @plan.tasks_for(event).each do |task| %>
              <tr>
                <td><%= task.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>

</section>

<section class="download">
  <div class='row'>
    <div class='small-12 columns'>
      <%= button_to 'USE THIS PLAN', plan_duplicate_url(:public_guid => @plan.public_guid), method: :post, class: 'button' %>
    </div>
  </div>
</section>

