<section class='headline'>
  <div class='row'>
    <div class='small-6 columns'>
      <h1><%= @plan.name %></h1>
    </div>
    <div class='small-6 columns'></div>
  </div>
  <div class='row'>
    <div class='small-6 columns'>
      <h2>Postcode: <%= @plan.postcode %></h2>
    </div>
    <div class='small-6 columns'/></div>
  </div>
</section>


<section class='main-page'>

  <div class='row'>
    <div class='small-12 columns'>
      <% @plan.events.each do |event| %>

        <table>
          <thead>
            <th><%= event.name %></th>
          </thead>
          <tbody>
            <% @plan.tasks_for(event).each do |task| %>
              <tr>
                <td><%= task.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>

</section>


<section>
  <div class='row'>
    <div class='small-12 columns'>
      <%= button_to 'COPY!', plan_duplicate_url(:public_guid => @plan.public_guid), method: :post, class: 'button' %>
    </div>
  </div>
</section>
